export HIVE_LOG_DIR=/var/log/hive/
export HIVE_CONF_DIR=/etc/hive/
export TEZ_CONF_DIR=/etc/hive/
export HADOOP_CLASSPATH="$HADOOP_CLASSPATH:/opt/tez/*.jar:/opt/tez/lib/*.jar"
export PATH="$PATH:/opt/hive/bin"
