[Unit]
Description=NodeManager
After=network.target hiveserver2-rm.service

[Service]
User=hive
Group=hive
Type=simple
EnvironmentFile=/etc/sysconfig/hiveserver2
ExecStart=/opt/hadoop/bin/yarn nodemanager
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

