[Unit]
Description=ZooKeeper
After=network.target

[Service]
User=hive
Group=hive
Type=simple
EnvironmentFile=/etc/sysconfig/hiveserver2
ExecStart=/opt/zookeeper/bin/zkServer.sh start-foreground /etc/hive/zoo.cfg
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

