[Unit]
Description=HiveServer2 ResourceManager
After=network.target 

[Service]
User=hive
Group=hive
Type=simple
EnvironmentFile=/etc/sysconfig/hiveserver2
ExecStart=/opt/hadoop/bin/mapred historyserver
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

