[Unit]
Description=NodeManager
After=network.target resourcemanager.service

[Service]
User={{ yarn_user }}
Group={{ yarn_user }}
Type=simple
ExecStart=/usr/bin/kdp-enable /opt/hadoop/bin/yarn nodemanager
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

