spark.sql.warehouse.dir           s3a://{{ s3a_bucket }}/warehouse
spark.eventLog.enabled            true
spark.eventLog.dir                s3a://{{ s3a_bucket }}/spark-logs/
spark.history.fs.logDirectory     s3a://{{ s3a_bucket }}/spark-logs/
spark.yarn.historyServer.address  {{ spark_historyserver_address }}
