[Unit]
Description=HistoryServer
After=network.target 

[Service]
User={{ yarn_user }}
Group={{ yarn_user }}
Type=simple
ExecStart=/usr/bin/kdp-enable /opt/hadoop/bin/mapred historyserver
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

