<configuration>

   <property>
      <name>fs.defaultFS</name>
      <value>s3a://{{ s3a_bucket }}</value>
   </property>

  <property>
    <name>fs.s3a.endpoint</name>
    <value>{{ s3a_endpoint }}</value>
  </property>

  <property>
    <name>fs.s3a.access.key</name>
    <value>{{ s3_access_key }}</value>
 </property>

  <property>
    <name>fs.s3a.secret.key</name>
    <value>{{ s3_secret_key }}</value>
  </property>


  <property>
    <name>fs.s3a.bucket.{{ s3a_bucket }}.access.key</name>
    <value>{{ s3_access_key }}</value>
 </property>

  <property>
    <name>fs.s3a.bucket.{{ s3a_bucket }}.secret.key</name>
    <value>{{ s3_secret_key }}</value>
  </property>

   <property>
      <name>hadoop.tmp.dir</name>
      <value>/var/tmp/${user.name}</value>
   </property>

   <property>
      <name>fs.s3a.buffer.dir</name>
      <value>/var/tmp/</value>
   </property>

   <property>
     <name>fs.s3a.path.style.access</name>
     <value>true</value>
   </property>

   <property>
     <name>fs.s3a.impl</name>
     <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
   </property>

   <property>
      <name>javax.jdo.option.ConnectionURL</name>
      <value>jdbc:{{ hive_metastore_driver }}://{{ hive_metastore_host }}:{{ hive_metastore_port }}/{{ hive_metastore_db }}</value>
   </property>
   <property>
      <name>javax.jdo.option.ConnectionDriverName</name>
      <value>{{ hive_metastore_driver_class }}</value>
   </property>
   <property>
      <name>javax.jdo.option.ConnectionUserName</name>
      <value>{{ hive_metastore_user }}</value>
   </property>
   <property>
      <name>javax.jdo.option.ConnectionPassword</name>
      <value>{{ hive_metastore_password }}</value>
   </property>

  <property>
    <name>hive.zookeeper.quorum</name>
    <value>{{ zookeeper_quorum }}</value>
  </property>

    <!-- LLAP -->

  <property>
    <name>hive.server2.enable.doAs</name>
    <value>false</value>
  </property>

  <property>
    <name>hive.llap.daemon.yarn.container.mb</name>
    <value>4096</value>
  </property>

  <property>
    <name>hive.llap.io.memory.size</name>
    <value>512Mb</value>
  </property>

  <property>
    <name>hive.llap.daemon.memory.per.instance.mb</name>
    <value>4096</value>
  </property>


  <property>
    <name>hive.llap.daemon.num.executors</name>
    <value>4</value>
  </property>



  <property>
    <name>hive.execution.engine</name>
    <value>tez</value>
  </property>

  <property>
    <name>hive.execution.mode</name>
    <value>llap</value>
  </property>

  <property>
    <name>hive.default.fileformat</name>
    <value>orc</value>
  </property>

  <property>
    <name>hive.llap.client.consistent.splits</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.aux.jars.path</name>
    <value>{{ hive_aws_jars }}</value>
  </property>

  <property>
    <name>hive.tez.container.size</name>
    <value>1024</value>
  </property>



   <property>
        <name>hive.llap.io.enabled</name>
        <value>true</value>
    </property>

   <property>
        <name>hive.server2.tez.interactive.queue</name>
        <value>default</value>
    </property>

   <property>
        <name>hive.llap.hdfs.package.dir</name>
        <value>/yarn-services/</value>
    </property>

   <property>
        <name>hive.llap.execution.mode</name>
        <value>only</value>
    </property>

   <property>
        <name>hive.llap.daemon.service.hosts</name>
        <value>@{{ hive_llap_instance_name }}</value>
    </property>

   <property>
        <name>hive.llap.daemon.work.dirs</name>
        <value>/var/tmp/${user.name}</value>
    </property>

   <property>
        <name>hive.llap.io.use.lrfu</name>
        <value>true</value>
    </property>

   <property>
        <name>hive.vectorized.execution.enabled</name>
        <value>true</value>
    </property>



   <property>
        <name>hive.support.concurrency</name>
        <value>true</value>
    </property>

   <property>
        <name>hive.txn.manager</name>
        <value>org.apache.hadoop.hive.ql.lockmgr.DbTxnManager</value>
    </property>

   <property>
        <name>hive.tez.auto.reducer.parallelism</name>
        <value>true</value>
    </property>

   <property>
        <name>tez.am.container.reuse.enabled</name>
        <value>true</value>
    </property>

<!--
    <property>
        <name>tez.am.log.level</name>
        <value>DEBUG</value>
    </property>
    <property>
        <name>mapreduce.map.log.level</name>
        <value>DEBUG</value>
    </property>
    <property>
        <name>hive.tez.log.level</name>
        <value>DEBUG</value>
    </property>
-->

</configuration>
