<configuration>
    <property>
        <name>tez.lib.uris</name>
        <value>/tez.tar.gz</value>
    </property>

    <property>
        <name>tez.runtime.framework.local.dirs</name>
        <value>/var/tmp/${user.name}/tez/runtime</value>
    </property>

    <property>
        <name>tez.staging-dir</name>
        <value>/var/tmp/${user.name}/tez/staging</value>
    </property>

   <property>
        <name>tez.am.container.reuse.enabled</name>
        <value>true</value>
    </property>


</configuration>
