[Unit]
Description=JupyterHub
After=network.target


[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/jupyterhub
ExecStart=/usr/bin/scl enable rh-nodejs8 -- /opt/jupyterhub/bin/jupyterhub -f /etc/jupyterhub/jupyterhub_config.py
ExecStop=/bin/kill -TERM $MAINPID
WorkingDirectory=/var/lib/jupyterhub/
PIDFile=/var/run/jupyterhub.pid
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

